*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(206, 206, 206);
}
h1{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: black;
    padding: 15px;
}
.nome{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sobrenome{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.email{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.check{
    position: absolute;
    top: 20%;
    left: 42.5%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.textcamp{
    position: absolute;
    top: 29%;
    left: 39.5%;
    text-align: center;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.botao{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.video{
    position: absolute;
    top: 55%;
    left: 39.5%;
    text-align: center;
}